**/.git
**/.gitignore
**/.venv
**/venv
**/__pycache__
**/*.pyc
**/.mypy_cache
**/.ruff_cache
**/.pytest_cache
**/node_modules
**/dist
**/.data
**/volumes
**/.env
!**/.env.example
**/*.md
!hades.md
**/tests
